.menu 
        {
            position: relative;
            display: block;
            background-color: grey;
            width: 100%;
            height: 15vh;
            border: solid 2px;
            text-align: center;
            padding-top: 10px;
        }

        .content
        {
            position: relative;
            display: inline-block;
            background-color: lightgray;
            height: 90vh;
            border: solid 2px;
            border-top: none;
        }

        .pinnedcontent
        {
            position: relative;
            display: inline-block;
            background-color: lightgray;
            height: 90vh;
            border: solid 2px;
            border-top: none;
        }

        .doneboard
        {
            position: relative;
            top:0;
            display: block;
            background-color: lightgray;
            height: 30vh;
            border: solid 2px;
            border-top: none;
            width:98.35vw;
        }

        .navbutts
        {
            height: 80px;
            width: 300px;
            font-size: 30px;
        }

        .notes
        {
            height: 20vh;
            width: 20vw;
            background-color: aliceblue;
            position: relative;
            display: inline-block;
        }

        #board
        {
            width: 70vw;
            margin:0;
        }

        #pinnedboard
        {
            position: absolute;
            width: 28.25vw;
            border-left:none;
        }

        h1
        {
            margin-top:0;
        }